* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    background-image: url("../images/marvel3.jpg");
    background-position: center;
    background-size: cover;
}

.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 12px;
}

.input-label {
    width: 240px;
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    color: #fff;
    font-family: 'Orbitron', 'Muli', Arial, sans-serif;
    font-weight: 900;
    padding: 5px;
}

#input-name {
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    width: 240px;
    height: 30px;
    border: 0;
    outline: 0;
    font-family: 'Orbitron', 'Muli', Arial, sans-serif;
    font-weight: 900;
}

.p-name {
    text-align: left;
    width: 240px;
    color: #ff0000;
    padding: 5px;
    font-family: 'Orbitron', 'Muli', Arial, sans-serif;
    font-weight: 600;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s linear;
}
